{{!-- {{> navbarInicio }} ESTA ES EL NAVBAR QUE LE CORRESPONDE, PERO MIENTRAS DESARROLLAMOS ESTARA COMENTADO POR COMODIDAD PARA LAS PRUEBAS--}}
    
<section id="cabecera" class="m-auto pt-5 col-12 col-md-7 text-center container-fluid">
    <div class="m-auto col-12 col-md-7 text-center text-light text-start container" id="formulario-buscador">
        <h1 class="display-1 fw-bold pb-2 my-5">Marketplace</h1>
        <h4 class="fw-bold pb-2">Encuentra tu producto</h4>
        <input type="text" class="form-control"> <br><br>
        <button class="btn btn-info mb-4 text-light fw-bold w-40 m-auto">Buscar</button>
    </div>
</section>
