<div class="cardEncontrado mt-5 text-center rounded"> 
    <img id="ppContacto" src="/uploads/contacto.jpg" class=" rounded-circle mx-auto d-block  m-4 logo" alt="Esta es una imagen, pero no se ve">
</div>