<section class="container-fluid" style="background: aliceblue;">
  <div class="fondo pb-5 px-5" >
    <div class="row" style="background: aliceblue;">
    <h1 class="text-center mt-5" style="color: green;">Producto encontrado</h1>    
        <div class="container responsivo col-6 mt-5 py-5 text-center rounded-left" style="background: rgb(192, 190, 190);">
            {{> cardEncontrado }}
        </div>
        <div class="container responsivo col-6 mt-5 py-5 rounded-right" style="background: rgb(192, 190, 190);">
            <section class="mt-5">
                <h1>Natura</h1>
                <h1>Ekos frescor</h1>
                <h1>Pitanga eau de toilette 150ml.</h1>             
            </section>
            <h2>para ver detalles inicia sesion</h2><br>            
            <button class="btn btn-primary mb-4 py-2 w-40 m-auto">Inicia sesión</button>
            <h2>Aun no estas registrado?</h2>
        </div>    
    </div>
  </div>
</section>

{{!-- <div class="cardInventario mt-5 text-center rounded">
  <img id="ppInventario" src="/uploads/ekos.jpeg" class=" rounded-circle mx-auto d-block p-4 m-4 producto" alt="Esta es una imagen, pero no se ve">  
</div> --}}