<section class="container-fluid text-center">
    <h3 class="fw-bold text-light">Contacto</h3>
    <div class="row col-12 col-sm-6 my-3">
        <div class="cardInventario text-center rounded">
            <img id="ppContacto" src="/public/uploads/contacto.jpg"
                class=" rounded-circle mx-auto d-block p-4 m-4 producto" alt="contacto-img">
        </div>
    </div>
    <div class="row col-12 col-sm-6 my-3 rounded" style="background: green;">
        <h3 class="text-center fw-bold text-light">Queremos saber tu opinión</h3>
        <form action="/#" method="POST">
            <div class="form-group">
                <div class="form-group pt-2">
                    <Label>Nombre</Label> <br>
                    <input type="text" name="nombre" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
                </div>
                <div class="form-group py-2">
                    <Label>Asunto</Label> <br>
                    <input type="text" name="asunto" placeholder="Consulta" class="form-control w-50 m-auto" />
                </div>
                <div class="form-group">
                    <label>Mensaje</label>
                    <input type="text" name="Mensaje" id="" class="form-control w-50 m-auto">
                </div>
                <button type="submit" class="btn btn-info fw-bold text.light mt-3">Enviar</button>
            </div>
        </form>
    </div>
</section>