<div class="cardEncontrado mt-5 text-center rounded">  
   {{#with productos.[0]}}
<img id="ppVendedores" src="/uploads/{{this.foto}}" class="rounded mx-auto d-block m-2 producto" alt="Esta es una imagen, pero no se ve" style=" height: 300px;">

       {{/with}} 
</div>

     

