<footer class="container-fluid">
    <div class="row" style="text-align: left;">

      <div class="col-md-5 mt-4 pt-2">
        <h4 class="fw-bold text-light">Estamos en redes sociales</h4>
      </div>

      <div class="col-md-7">

        <div class="iconos">          
          
          <a href="https://twitter.com/?lang=es" target="_blank"><i class="fab fa-twitter-square fa-3x mx-3"class="icono"></i></a>
          <a href="https://es-la.facebook.com/" target="_blank"><i class="fab fa-facebook-square fa-3x mx-3"class="icono"></i></a>
          <a href="https://cl.linkedin.com" target="_blank"><i class="fab fa-linkedin fa-3x mx-3" class="icono"></i></a>
        </div>
      </div>
  </footer>


