<nav class="navbar navbar-expand-lg navbar-dark" style="background: green; padding: 20px">
    <div class="container">
        <a class="navbar-brand" href="#">Marketplace</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >              
                <li class="nav-item">                    
                    <a class="text-light fw-bold" style="margin: 20px" href="./perfil" role="button">Mi Perfil</a>
                </li>                          
            </ul>
        </div>
    </div>
</nav>
<style>
    li { display: inline-block }
    a, li { color: white }
</style>