<nav class="navbar navbar-expand-lg navbar-dark" style="background: green; padding: 20px">
    <div id="favicon" class="container">
          
        <div> 
    <img  src="/uploads/logo.jpg" class=" rounded-circle logo " alt="imagen logo">

</div>
    
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0" >

                <li class="nav-item">
                    <a class="nav-link" href="/"> Inicio </a>
                </li>                
                <li class="nav-item">
                    <a class="nav-link" href="perfil"> Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="inventario">Inventario</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="productosDisponibles">Encontrado</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="listaVendedores">Lista de vendedores</a>
                </li> 
                <li class="nav-item">
                    <a class="nav-link" href="notificacion">Notificacion</a>
                </li>  
                <li class="nav-item">
                    <a class="nav-link" href="contacto">Contacto</a>
                </li>  
               

                <li class="nav-item">                    
                    <a class="btn btn-primary" style="margin: 20px" href="inicio" role="button">Inicia sesión</a>                    
                </li>                
                <li class="nav-item">                    
                    <a class="btn btn-primary" style="margin: 20px" href="registro" role="button">Registro</a>
                </li>
                
                {{!-- <li class="nav-item">
                    <a class="nav-link" href="administracion">Administración</a>
                </li> --}}
                                           
            </ul>
                    
        </div>
    </div>
</nav>
<style>
    li { display: inline-block }
    a, li { color: white }
</style>