<div class="biombo pt-5 container-fluid">
  {{!-- {{> navbarInicio }} ESTA ES EL NAVBAR QUE LE CORRESPONDE, PERO MIENTRAS DESARROLLAMOS ESTARA COMENTADO POR COMODIDAD PARA LAS PRUEBAS--}}
    
  <div class="container">
        <h1 class="text-center mb-5 pb-4" style="color: green;">Contacto</h1>
        <div class="row mb-5 rounded" style="background: green;">    

    <div class="responsivo col-7 mt-5 py-5 text-center rounded" style="background: green;">      
      <h1 style="color: aliceblue;">Queremos saber tu opinion</h1>
      <br>

      <form action="/contacto" method="POST" enctype="multipart/form-data">      
    
        <div class="form-group">
          <div class="form-group"> 
            <label for="nombre">Nombre</label><br>              
            <input type="text"  name="nombre" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>          
          <div class="form-group pt-4">
            <label for="nombre">Asunto</label><br>         
            <input type="text" name="email" placeholder="nombre@gmail.com" class="form-control w-50 m-auto">
          </div>
          <label class="pt-4" for="nombre">Mensaje</label><br>
          <textarea class="rounded" name="textarea"  rows="4" cols="32">Deja tu mensaje aqui</textarea>          
        </div><br><br>
        <button class="btn btn-primary mb-4 py-2 w-50 m-auto">Ingresar</button><br>
        
      </form>
    </div>
    <div class="responsivo col-5 py-5"> 
      {{> cardContacto }}      
    </div> 
  </div>  

</div>



