<div class="biombo pt-5 container-fluid">  
  <div class="pb-5 px-5">
    <div class="row">
      
      <h1 class="text-center mt-5" style="color: green;">Lo sentimos mucho!!!!</h1>    
        <div class="container responsivo col-6 mt-5 py-5 text-center rounded-start" style="background: aliceblue;">
            {{> cardNoEncontrado }}
        </div>
        
        <div class="container responsivo col-6 mt-5 py-5 rounded-end" style="background: aliceblue;">
            
            <h1>No encontramos el producto que buscas</h1> 
            <h2>Intenta con otro</h2><br> 
            <a class="btn btn-primary mb-4 py-2 w-40 m-auto"  href="./">Ir al buscador</a>           
            
            <h2>Aun no estas registrado?</h2>
            <a class="btn btn-primary mb-4 py-2 w-40 m-auto"  href="./registro">Crea tu cuenta aqui</a>
        </div> 
      
    </div>
  </div> 
  <div class="container">
                
        <div class="row mb-5 rounded" style="background: green;">    

    <div class="responsivo col-7 mt-5 py-5 text-center rounded" style="background: green;">      
      <h1 style="color: aliceblue;">Queremos saber tu opinión</h1>
      <br>

      <form action="/contacto" method="POST" enctype="multipart/form-data">      
    
        <div class="form-group">
          <div class="form-group">
  <label for="nombre">Nombre</label><br>         
  <input type="text" name="nombre" placeholder="Tu nombre" class="form-control w-50 m-auto" style="text-align: center">
</div>          
<div class="form-group pt-4">
  <label for="nombre">Email</label><br>         
  <input type="text" name="email" placeholder="Tu email" class="form-control w-50 m-auto" style="text-align: center">
</div>
<label class="pt-4" for="nombre">Mensaje</label><br>
<textarea class="rounded form-control w-50 m-auto" name="textarea" placeholder="Tu opinión es importante" rows="4" cols="38" style="text-align: center"></textarea>                
        </div>
        <input class="btn btn-primary" type="button" value="Enviar" onClick="enviar()">
        
        
      </form>
    </div>
    <div class="responsivo col-5 py-5"> 
      {{> cardContacto }}      
    </div> 
  </div>  

</div>   
<script>           
  function enviar() {
    window.alert("Tu mensaje fue enviado, gracias por compartir!!!");
    location.reload();
  };
</script>


