{{!-- <h1>este sera la pagina donde ira el inicio de la app!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1> --}}
<nav>
  {{> navbarInicio }}
</nav>

<header>
  {{> buscador}}
</header>

<footer>
  {{> footer}}
</footer>
