{{!-- <h1>este sera la pagina donde ira el inicio de la app!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!</h1> --}}
//<<<<<<< ramapedro REVISAR
<nav>
  {{> navbarInicio }}
</nav>

<header>
  {{> buscador}}
</header>

<footer>
  {{> footer}}
</footer>
=======
<div class="container-fluid">
 
</div>  
// REVISAR >>>>>>> main
