{{!-- <header>
  {{> buscador}}
</header> --}}

<div class="container-fluid">
  {{> buscador}}
</div>

<script>

  //Función que ejecuta la redirección a la vista productosDisponibles

  const buscarProducto = () => {
    const productoBuscado = document.getElementById('nombreProducto').value;
    try {
      alert(`Buscando producto ${productoBuscado}`);
      window.location.href = '/productosDisponibles';
    }  catch ({ response }) {
      const { data } = response;
      const { error } = data;
      alert(error);
    }
  };

  buscarProducto();

</script>