<div class="container-fluid">
  {{!-- {{> buscador}} --}}
   <script>
    function mostrarMensaje() {
      var input = document.getElementById("input").value;
      if (input == "logeado") {
        document.getElementById("mensaje").innerHTML = "Bienvenido usuario logeado!";
      } else {
        document.getElementById("mensaje").innerHTML = "Por favor, inicie sesión para continuar.";
      }
    }
  </script>
</head>
<body>
  {{> buscador }}
  <input type="text" id="busqueda-input">
  <button type="button" onclick="most
  
</div>  
