<div class="container-fluid">
  {{!-- {{> navbarInicio }} --}}
      
  <div class="biombo row px-5">
    <h1 class="text-center mt-5" style="color: green;">Inicia sesion</h1> 
    {{> cardLogo }}    
    
    <div class="responsivo col-7 mt-5 py-5 mb-5 text-center rounded" style="background: green;">      
      <h3>Inicia sesión</h3><br>     
      
      <form action="/inicioSesion" method="POST" enctype="multipart/form-data">      
        <div class="form-group">             
          <div class="form-group pt-4"> 
            <Label>Email</Label> <br>      
            <input type="text" name="email" placeholder="ejemplo@gmail.com" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group py-4">
            <Label>Password</Label> <br>         
            <input type="password" name="password" placeholder="********" class="form-control w-50 m-auto" />
          </div><br>
        </div>
        <a class="btn btn-primary mb-4 py-2 w-40 m-auto"  href="./perfil">Ingresar</a>  
        {{!-- <button class="btn btn-primary mb-4 py-2 w-50 m-auto">Ingresar</button><br>              --}}
        <p>¿No estás registrado? <a href="./registro">Crea tu cuenta</a></p>
      </form>
      
    </div>
  </div>
</div>


