<div class="container-fluid">
  {{!-- {{> navbarUsuario ESTA ES EL NAVBAR QUE LE CORRESPONDE, PERO MIENTRAS DESARROLLAMOS ESTARA COMENTADO POR COMODIDAD PARA LAS PRUEBAS}} --}}
  
  <div class="biombo pb-5 px-5">
    <div class="row">
      <h1 class="text-center mt-5">Producto seleccionado</h1>     
        <div class="container responsivo col-6 mt-5 py-5 text-center rounded-start" style="background: aliceblue;">
          {{> cardVendedores }}
        </div>
        <div class="container responsivo col-6 mt-5 py-5 rounded-end" style="background: aliceblue;">
            <div class="mt-5">
                <h1>esika</h1>
                <h1>Crema hidratante</h1>
                <h1>Femenino</h1> 
                <h1>Pitanga eau de toilette 150ml.</h1>             
            </div><br>
            <h2>Ya casi es tuyo!!</h2>             
        </div>     
    </div>
  </div>

  <section>
    <h1 class="text-center mt-5" style="color: green;">Lista de vendedores</h1>
    <div class="py-4">  
      <hr class="w-100"/>

  <table class="table w-80 m-auto rounded" style="background: green; height: 60px">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Precio producto</th>
        <th scope="col">Stock</th>
        <th scope="col">Comuna/sector</th>
        <th scope="col">Contactar</th>                     
      </tr>
    </thead>

     <tbody> 
      
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img class="rounded-circle" src="/uploads/Susana.jpg" height="55" Width="75">                
          </div>
        </td>
        <td>Susana Mora</td>
        <td>49.990<br></td>
        <td>7</td>
        <td>Providencia</td>             
        <td> <input class="btn btn-primary m-auto" type="button" value="Seleccionar" onClick="seleccionar()"></td>
      </tr>  
      
    </tbody>



  </table>
  <div class="text-center mt-3">   
    <input class="btn btn-primary m-auto" type="button" value="Enviar" onClick="enviar()">

      <script> 
        function seleccionar() {
          window.alert("Revisa los datos de tu solicitud y confirma con enviar");
        }       
        function enviar() {
          window.alert("Tu solicitud de compra fue enviada");
        }
      </script>    
  </div>
    
</div>


<script>

  const autorizar = async (id, e) => {    
    const seleccion = e.checked
    console.log(id, seleccion);
    try {
      await axios.put('/seleccion', {
        id,
        seleccion
      })
      alert(seleccion ? 'Vendedor seleccionado, por favor confirme seleccion' : 'Ha ocurrido un error, intente más tarde');      
    }
    catch ({ respuesta }) {
      const { data } = respuesta
      const { error } = data
      alert(error)
    }    
  }
  
</script>  

  </section>
</div>

<script>

  function previewFile() {
    const preview = document.getElementById('pw');
    const file = document.querySelector('input[type=file').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  
</script>
