<div class="container-fluid">   
  <section class="biombo">
    <h1 class="text-center pt-5" style="color: green;">Hola Carlos!!!</h1>
    {{> cardNotificacion }}
    <h1 class="text-center mt-5" style="color: aliceblue;">Tienes una solicitud de compra</h1>
    <div class="py-4">  
      <hr class="w-100"/>
  </section>
  <table class="table w-80 m-auto rounded" style="background: green; height: 60px">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imagen</th>
        <th scope="col">Nombre</th>        
        <th scope="col">Producto</th>
        <th scope="col">Cantidad</th>
        <th scope="col">Aceptar</th>                     
      </tr>
    </thead>

    <tbody> 
      
      <tr>
        <td>{{@index}}</td>
        <td>
          <div>                
            <img class="rounded-circle" src="/uploads/Susana.jpg" height="55" Width="75">                
          </div>
        </td>
        <td>Susana Mora</td>
        <td>Crema hidratante<br></td>
        <td>5</td>             
        <td> <input class="btn btn-primary m-auto" type="button" value="Seleccionar" onClick="seleccionar()"></td>
      </tr>  
      
    </tbody>


  </table>

  <div class="text-center mt-3">   
    <input class="btn btn-primary m-auto" type="button" value="Confirmar solicitud" onClick="enviar()">

      <script> 
        function seleccionar() {
          window.alert("Solicitud de compra seleccionada");
        }       
        function enviar() {
          window.alert("Orden de compra confirmada");
        }
      </script>    
  </div>
    
</div> 
</div>


