<<div class="container-fluid">
  <div class="biombo row px-5">
    <h1 class="text-center mt-5" style="color: green;">Regístrate aqui</h1>
    {{> cardRegistro }}

    <div class="responsivo col-7 mt-5 py-5 mb-5 text-center rounded" style="background: green;">
      <h3>Registro</h3><br>

      <form action="/registro" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <div class="form-group pt-4">
            <Label>Nombre</Label> <br>
            <input type="text" name="nombree" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group pt-4">
            <Label>Cedula de identidad</Label> <br>
            <input type="text" name="rut" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group pt-4">
            <Label>email</Label> <br>
            <input type="text" name="email" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group pt-4">
            <Label>Telefono</Label> <br>
            <input type="text" name="telefono" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group pt-4">
            <Label>Comuna/sector</Label> <br>
            {{!-- <input type="text" name="sector" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" /> --}}
            <select class="form-select mb-3 w-50 m-auto" name="sector" aria-label="Default select example"
              data-show-subtext="true" data-live-search="true">
              <option selected>Selecciona una comuna</option>
              {{#each camposSector}}
              <option id="option-sector" value="{{this.id}}">{{this.nombre_sector}}</option>
              {{/each}}
            </select>
          </div>
          <div class="form-group py-4">
            <Label>Password</Label> <br>
            <input type="password" name="password" placeholder="********" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group py-4">
            <Label>Repite password</Label> <br>
            <input type="password" name="repite_password" placeholder="********" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group col-12 col-sm-12">
            <p class="text-white pb-3">Sube tu foto de perfil</p>
            <input type="file" name="foto" onchange="previewFile()"><br>
          </div>

        </div> <br>
        <button type="submit" class="btn btn-primary my-3 pt-2 w-50 m-auto">Registrar</button>
        <br>
        <br><br>
      </form>

    </div>
  </div>
  </div>


  <script>

    function previewFile() {
      const preview = document.getElementById('ppRegistro');
      const file = document.querySelector('input[type=file').files[0];
      const reader = new FileReader();

      reader.addEventListener("load", () => {
        preview.src = reader.result;
      }, false);

      if (file) {
        reader.readAsDataURL(file);
      }
    };

  </script>