<div class="container-fluid">
  {{!-- {{> navbarInicio }} --}}
    
  <div class="biombo row px-5">
    <h1 class="text-center mt-5" style="color: green;">Registrate aqui</h1> 
    {{> cardRegistro }}    
    
    <div class="responsivo col-7 mt-5 py-5 mb-5 text-center rounded" style="background: green;">      
      <h3>Registro</h3><br>     
      
      <form action="/registro" method="POST" enctype="multipart/form-data">      
        <div class="form-group">             
          <div class="form-group pt-4"> 
            <Label>Nombre</Label> <br>      
            <input type="text" name="nombre" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group pt-4"> 
            <Label>email</Label> <br>      
            <input type="text" name="nombre" placeholder="Jimena Sanchez" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group py-4">
            <Label>Password</Label> <br>         
            <input type="password" name="password" placeholder="********" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group py-4">
            <Label>Repite password</Label> <br>         
            <input type="password" name="repitePassword" placeholder="********" class="form-control w-50 m-auto" />
          </div>
          <div class="form-group col-12 col-sm-12">
            <p class="text-white pb-3">Sube tu foto de perfil</p>           
            <input type="file" name="foto" onchange="previewFile()"><br>          
          </div>
        
        </div> <br><br> 
        <input class="btn btn-primary" type="button" value="Registrar" onClick="registrar()">            
          
      </form>
      <p><a href="./perfil">Completa tu perfil</a></p>
    </div>  
  </div>
</div>
 <script>           
        function registrar() {
          window.alert("Usuario registrado");
        }
</script>  


<script>

  function previewFile() {
    const preview = document.getElementById('ppRegistro');
    const file = document.querySelector('input[type=file').files[0];
    const reader = new FileReader();

    reader.addEventListener("load", () => {
      preview.src = reader.result;
    }, false);

    if (file) {
      reader.readAsDataURL(file);
    }
  }
  
</script>

