<!DOCTYPE html>
<html lang="en">
<head>
 {{> head}}
    <title>Document</title>
</head>
<header>
    este es mi header
    {{> nav}}
</header>
<body>
    {{{body}}}
</body>
<footer>
    <p>este es el footer</p>
</footer>
</html>

<!--PAGINA DE INICIO >